{% extends "base.html" %} {% block title %}Job POST{% endblock %} {% block
  Addnav %}
  <li class="nav-item active">
    <a class="nav-link" href="/HR_Homepage">HR Homepage</a>
  </li>
  {% endblock %}

{% block
content %}
<div class="container-fluid">
  <div class="container">
    {% if errorMsg %}
    <h2 class="alert alert-danger" style="text-align: center">{{errorMsg}}</h2>
    {% endif %} {% if successMsg %}
    <h2 class="alert alert-success" style="text-align: center">
      {{successMsg}}
    </h2>
    {% endif %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        type="button"
        class="btn btn-info me-md-5 mb-3"
        data-bs-toggle="modal"
        data-bs-target="#jobpost"
      >
        + Post JOB
      </button>
    </div>
    <div class="row">
      {% for i in range(0,data|length) %}
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div
              class="col-auto"
              style="margin: auto; width: 60%; padding: 10px"
            >
              <div class="card-body">
                <h5 class="card-title text-center">
                  {{data[i]['Job_Profile']}}<span
                    class="badge rounded-pill bg-warning text-dark"
                    >New</span
                  >
                </h5>
                <p class="card-text text-center">
                  <strong>Company:</strong>{{data[i]['CompanyName']}}
                </p>
                <p class="card-text text-center">
                  <strong>{{ data[i]['Salary'] }}</strong>
                </p>
                <p class="card-text text-center">
                  <small class="text-muted">{{data[i]['LastDate']}}</small>
                </p>
                <p>
                  <button
                    class="btn btn-outline-success view_candidates"
                    id="{{ data[i]['job_id'] }}"
                    data-bs-toggle="modal"
                    data-bs-target="#view_candidates"
                  >
                    View Applied Candidates
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="jobpost"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add JOB</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form
                class="form-horizontal"
                action="/HR1/add_job"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="companyInput"
                    placeholder="Enter Company Name"
                    name="company"
                    required
                  />
                  <label for="companyInput">Company:</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="jbInput"
                    placeholder="Enter Job Profile"
                    name="jp"
                    required
                  />
                  <label for="jbInput">Job Profile:</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="SalaryInput"
                    placeholder="Enter Package in Rs."
                    name="salary"
                    required
                  />
                  <label for="SalaryInput">Salary:</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="date"
                    class="form-control"
                    id="LastDateInput"
                    placeholder="Enter Last Date"
                    name="last_date"
                    required
                  />
                  <label for="LastDateInput">Last Date:</label>
                </div>
                <div class="form-group mb-3">
                  <label for="jd">Upload Job Description:</label>
                  <input
                    type="file"
                    class="form-control"
                    id="jd"
                    name="jd"
                    required
                  />
                </div>
                <div>
                  <input
                    type="submit"
                    class="btn btn-danger me-md-5 mb-3"
                    value="Submit"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="view_candidates"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Applied Candidates  </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <table class="table table-striped table-responsive">
                <thead>
                  <tr>
                    <th class="text-center">No.</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Matching %</th>
                  </tr>
                </thead>
                <tbody id="data"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
  var $j = jQuery.noConflict();
</script>
<script>
  $(document).on("click", ".view_candidates", function () {
    var job_id = $(this).attr("id");
    $j.ajax({
      url: "/HR1/view_applied_candidates",
      method: "POST",
      data: { job_id: job_id },
      success: function (data) {
        if (data[1] == 200) {
          var strline = "";
          for (var i = 0; i < data[0]; i++) {
            strline +=
              "<tr><td class='text-center'>" +
              (i + 1) +
              "</td><td class='text-center'>" +
              data[i + 2]["Name"] +
              "</td><td class='text-center'>" +
              data[i + 2]["Match"] +
              "</td></tr>";
          }
          document.getElementById("data").innerHTML = strline;
        }
        if (data.StatusCode == 400) {
          alert("Failed");
        }
      },
    });
  });
  
$(document).on("click", ".send_email_top5", function () {
  alert("Are you sure want to send Emails");
  $.ajax({
    url: "/HR1/send_email_top5",
    method: "POST",
    success: function (data) {
      alert("Email sent successfully!");
    },
    error: function (jqXHR, textStatus, errorThrown) {
      alert("Error sending email: " + errorThrown);
    },
  });
});
  
</script>
{% endblock %}

